body {
    text-align: center;
    background-color: antiquewhite;
}

#expect {
    text-align: center;
    width: 30%;
    border: 3px solid black;
    margin-left: 35%;
    margin-bottom: 2%;
    background-color: grey;
}

#rules {
    margin-bottom: 0px; 
    text-decoration: underline;
}

li {
    font-size: 1.3em;
}

#links {
    text-align: center;
    float: left;
    width: 40%;
    border: 3px solid black;
    margin-left: 8%;
    margin-right: 2%;
    background-color: grey;
}

#scratch_projects {
    text-align: center;
    float: left;
    width: 40%;
    border: 3px solid black;
    background-color: grey;
}

ul {
    list-style-position: inside;
    list-style-type: none;
    padding: 0;
    margin: 5px;
}

a {
    font-size: 1.3em;
    text-decoration: none;
}


/* Menu */
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    text-align: center;
}

li.menu-item {
    display: inline;
}

li.menu-item a {
    display: inline-block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.menu-item a:hover:not(.active) {
    background-color: #ddd;
}

li.menu-item a.active {
    color: white;
    background-color: #4CAF50;
}

/* Progress Bars */

.progress-bar {
    height: 50px;
    margin: 10px;
    border: 1px solid red;
    background-color: green;
}

.progress-item {
    width: 4%;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 5px;
    margin-right: 0px;
    height: 40px;
    border: 1px solid purple;
    background-color: plum;
    float: left;
}

/* Standards */

#standards {
    text-align: left;
    width: 60%;
    margin-left: 20%;
}

#standards ul li{
    list-style-type: disc;
    padding-top: 20px;
}